Superstore Dataset Data Cleaning and Exploratory Analysis Project

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Data Cleaning Process

In [2]:
#Reading of csv file
df = pd.read_csv(r"C:\Users\GBENGA\Downloads\Superstore data\ORDERS.csv", sep=',', engine='c', encoding='utf-8', encoding_errors='ignore')

In [6]:
#Duplicating raw dataset 
df_copy = df.copy()
df_copy

,ROWID,ORDERID,ORDERDATE,ORDERPRIOTORITY,ORDERQUANTITY,SALES,DISCOUNT,SHIPMODE,PROFIT,UNITPRICE,...,PROVINCE,REGION,CUSTOMERSEGMENT,PRODUCTCATEGORY,PRODUCTSUBCATEGORY,PRODUCTNAME,PRODUCTCONTAINER,PRODUCTBASEMARGIN,SHIPDATE,DATASET
0,1,3,10/13/2010,Low,6,261.5400,0.04,Regular Air,-213.25,38.94,...,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,10/20/2010,Superstore
1,49,293,10/1/2012,High,49,10123.0200,0.07,Delivery Truck,457.81,208.16,...,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,10/2/2012,Superstore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8397,7907,56550,4/8/2011,Not Specified,8,469.8375,0.00,Regular Air,-159.24,65.99,...,Alberta,West,Home Office,Technology,Telephones and Communication,Talkabout T8367,Small Box,0.56,4/9/2011,Superstore
8398,7914,56581,2/8/2009,High,20,2026.0100,0.10,Express Air,580.43,105.98,...,Alberta,West,Consumer,Furniture,Office Furnishings,"Tenex 46"" x 60"" Computer Anti-Static Chairmat,...",Medium Box,0.65,2/11/2009,Superstore

In [7]:
#Exploring the dataset on each column
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ROWID               8399 non-null   int64
 1   ORDERID             8399 non-null   int64
 2   ORDERDATE           8399 non-null   object
 3   ORDERPRIOTORITY     8399 non-null   object
 4   ORDERQUANTITY       8399 non-null   int64
 5   SALES               8399 non-null   float64
 6   DISCOUNT            8399 non-null   float64
 7   SHIPMODE            8399 non-null   object
 8   PROFIT              8399 non-null   float64
 9   UNITPRICE           8399 non-null   float64
 10  SHIPPINGCOSTS       8399 non-null   float64
 11  CUSTOMERNAME        8399 non-null   object
 12  PROVINCE            8399 non-null   object
 13  REGION              8399 non-null   object
 14  CUSTOMERSEGMENT     8399 non-null   object
 15  PRODUCTCATEGORY     8399 non-null   object
 16  PRODUCTSUBCATEGORY  8399 non-null   object
 17  PRODUCTNAME         8399 non-null   object
 18  PRODUCTCONTAINER    8399 non-null   object
 19  PRODUCTBASEMARGIN   8336 non-null   float64
 20  SHIPDATE            8399 non-null   object
 21  DATASET             8399 non-null   object
dtypes: float64(6), int64(3), object(13)
memory usage: 1.4+ MB

In [8]:
#Removing of unwanted column
df_copy.drop('DATASET', axis=1, inplace=True)
df_copy

,ROWID,ORDERID,ORDERDATE,ORDERPRIOTORITY,ORDERQUANTITY,SALES,DISCOUNT,SHIPMODE,PROFIT,UNITPRICE,...,CUSTOMERNAME,PROVINCE,REGION,CUSTOMERSEGMENT,PRODUCTCATEGORY,PRODUCTSUBCATEGORY,PRODUCTNAME,PRODUCTCONTAINER,PRODUCTBASEMARGIN,SHIPDATE
0,1,3,10/13/2010,Low,6,261.5400,0.04,Regular Air,-213.25,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,10/20/2010
1,49,293,10/1/2012,High,49,10123.0200,0.07,Delivery Truck,457.81,208.16,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,10/2/2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8397,7907,56550,4/8/2011,Not Specified,8,469.8375,0.00,Regular Air,-159.24,65.99,...,Frank Hawley,Alberta,West,Home Office,Technology,Telephones and Communication,Talkabout T8367,Small Box,0.56,4/9/2011
8398,7914,56581,2/8/2009,High,20,2026.0100,0.10,Express Air,580.43,105.98,...,Grant Donatelli,Alberta,West,Consumer,Furniture,Office Furnishings,"Tenex 46"" x 60"" Computer Anti-Static Chairmat,...",Medium Box,0.65,2/11/2009

In [9]:
#Changing all the date columns data type from object to date data type.
df_copy['ORDERDATE']= pd.to_datetime(df_copy['ORDERDATE'])
df_copy['SHIPDATE']= pd.to_datetime(df_copy['SHIPDATE'])

In [10]:
#Replacing the NaN value with 0.0 value
df_copy['PRODUCTBASEMARGIN']= df_copy['PRODUCTBASEMARGIN'].fillna(value=0.0)

In [11]:
#Removing of duplicate
df_copy.drop_duplicates()

,ROWID,ORDERID,ORDERDATE,ORDERPRIOTORITY,ORDERQUANTITY,SALES,DISCOUNT,SHIPMODE,PROFIT,UNITPRICE,...,CUSTOMERNAME,PROVINCE,REGION,CUSTOMERSEGMENT,PRODUCTCATEGORY,PRODUCTSUBCATEGORY,PRODUCTNAME,PRODUCTCONTAINER,PRODUCTBASEMARGIN,SHIPDATE
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.25,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,49,293,2012-10-01,High,49,10123.0200,0.07,Delivery Truck,457.81,208.16,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8397,7907,56550,2011-04-08,Not Specified,8,469.8375,0.00,Regular Air,-159.24,65.99,...,Frank Hawley,Alberta,West,Home Office,Technology,Telephones and Communication,Talkabout T8367,Small Box,0.56,2011-04-09
8398,7914,56581,2009-02-08,High,20,2026.0100,0.10,Express Air,580.43,105.98,...,Grant Donatelli,Alberta,West,Consumer,Furniture,Office Furnishings,"Tenex 46"" x 60"" Computer Anti-Static Chairmat,...",Medium Box,0.65,2009-02-11

In [12]:
#Removing all white space within the product name
df_copy['PRODUCTNAME']= df_copy['PRODUCTNAME'].str.strip()

In [13]:
#Xhecking each column info after replacing NaN
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ROWID               8399 non-null   int64
 1   ORDERID             8399 non-null   int64
 2   ORDERDATE           8399 non-null   datetime64[ns]
 3   ORDERPRIOTORITY     8399 non-null   object
 4   ORDERQUANTITY       8399 non-null   int64
 5   SALES               8399 non-null   float64
 6   DISCOUNT            8399 non-null   float64
 7   SHIPMODE            8399 non-null   object
 8   PROFIT              8399 non-null   float64
 9   UNITPRICE           8399 non-null   float64
 10  SHIPPINGCOSTS       8399 non-null   float64
 11  CUSTOMERNAME        8399 non-null   object
 12  PROVINCE            8399 non-null   object
 13  REGION              8399 non-null   object
 14  CUSTOMERSEGMENT     8399 non-null   object
 15  PRODUCTCATEGORY     8399 non-null   object
 16  PRODUCTSUBCATEGORY  8399 non-null   object
 17  PRODUCTNAME         8399 non-null   object
 18  PRODUCTCONTAINER    8399 non-null   object
 19  PRODUCTBASEMARGIN   8399 non-null   float64
 20  SHIPDATE            8399 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(6), int64(3), object(10)
memory usage: 1.3+ MB

In [14]:
df_copy.head()

,ROWID,ORDERID,ORDERDATE,ORDERPRIOTORITY,ORDERQUANTITY,SALES,DISCOUNT,SHIPMODE,PROFIT,UNITPRICE,...,CUSTOMERNAME,PROVINCE,REGION,CUSTOMERSEGMENT,PRODUCTCATEGORY,PRODUCTSUBCATEGORY,PRODUCTNAME,PRODUCTCONTAINER,PRODUCTBASEMARGIN,SHIPDATE
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,-213.25,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,49,293,2012-10-01,High,49,10123.0200,0.07,Delivery Truck,457.81,208.16,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02
2,50,293,2012-10-01,High,27,244.5700,0.01,Regular Air,46.71,8.69,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,2012-10-03
3,80,483,2011-07-10,High,30,4965.7595,0.08,Regular Air,1198.97,195.99,...,Clay Rozendal,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,R380,Small Box,0.58,2011-07-12
4,85,515,2010-08-28,Not Specified,19,394.2700,0.08,Regular Air,30.94,21.78,...,Carlos Soltero,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,Holmes HEPA Air Purifier,Medium Box,0.50,2010-08-30

In [31]:
#Changing the decimal into 2 decimal places.
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [32]:
df_copy.describe()

,ROWID,ORDERID,ORDERDATE,ORDERQUANTITY,SALES,DISCOUNT,PROFIT,UNITPRICE,SHIPPINGCOSTS,PRODUCTBASEMARGIN,SHIPDATE
count,8399.00,8399.00,8399,8399.00,8399.00,8399.00,8399.00,8399.00,8399.00,8399.00,8399
mean,4200.00,29965.18,2010-12-25 00:40:58.578402048,25.57,1775.88,0.05,181.18,89.35,12.84,0.51,2010-12-27 01:28:48.634361088
min,1.00,3.00,2009-01-01 00:00:00,1.00,2.24,0.00,-14140.70,0.99,0.49,0.00,2009-01-02 00:00:00
25%,2100.50,15011.50,2009-12-20 00:00:00,13.00,143.19,0.02,-83.31,6.48,3.30,0.38,2009-12-22 12:00:00
50%,4200.00,29857.00,2010-12-17 00:00:00,26.00,449.42,0.05,-1.50,20.99,6.07,0.52,2010-12-18 00:00:00
75%,6299.50,44596.00,2012-01-01 12:00:00,38.00,1709.32,0.08,162.75,85.99,13.99,0.59,2012-01-03 12:00:00
max,8399.00,59973.00,2012-12-30 00:00:00,50.00,89061.05,0.25,27220.69,6783.02,164.73,0.85,2012-12-30 00:00:00
std,2424.73,17260.88,NaN,14.48,3585.05,0.03,1196.65,290.35,17.26,0.14,NaN

In [16]:
df_copy.shape

(8399, 21)

In [18]:
df_copy.nunique()

ROWID                 8399
ORDERID               5496
ORDERDATE             1418
ORDERPRIOTORITY          5
ORDERQUANTITY           50
SALES                 8153
DISCOUNT                16
SHIPMODE                 3
PROFIT                7807
UNITPRICE              751
SHIPPINGCOSTS          652
CUSTOMERNAME           795
PROVINCE                13
REGION                   8
CUSTOMERSEGMENT          4
PRODUCTCATEGORY          3
PRODUCTSUBCATEGORY      17
PRODUCTNAME           1262
PRODUCTCONTAINER         7
PRODUCTBASEMARGIN       52
SHIPDATE              1450
dtype: int64

In [36]:
#Top 5 sales 
df_copy.sort_values(by='SALES', ascending=False).head()

,ROWID,ORDERID,ORDERDATE,ORDERPRIOTORITY,ORDERQUANTITY,SALES,DISCOUNT,SHIPMODE,PROFIT,UNITPRICE,...,CUSTOMERNAME,PROVINCE,REGION,CUSTOMERSEGMENT,PRODUCTCATEGORY,PRODUCTSUBCATEGORY,PRODUCTNAME,PRODUCTCONTAINER,PRODUCTBASEMARGIN,SHIPDATE
4674,4190,29766,2009-03-21,Medium,13,89061.05,0.00,Regular Air,27220.69,6783.02,...,Emily Phan,New Brunswick,Atlantic,Consumer,Technology,Office Machines,Polycom ViewStation ISDN Videoconferencing Unit,Large Box,0.39,2009-03-22
3512,452,3073,2009-01-07,Medium,7,45923.76,0.07,Regular Air,102.61,6783.02,...,Jasper Cacioppo,Quebec,Quebec,Home Office,Technology,Office Machines,Polycom ViewStation ISDN Videoconferencing Unit,Large Box,0.39,2009-01-08
5861,4264,30343,2012-05-21,Critical,8,41343.21,0.09,Regular Air,3852.19,6783.02,...,Craig Carreira,Saskachewan,Prarie,Corporate,Technology,Office Machines,Polycom ViewStation ISDN Videoconferencing Unit,Large Box,0.39,2012-05-23
3572,2026,14435,2012-12-01,Not Specified,9,33367.85,0.01,Regular Air,3992.52,3499.99,...,Dennis Kane,Quebec,Quebec,Small Business,Technology,Copiers and Fax,Canon imageCLASS 2200 Advanced Copier,Large Box,0.37,2012-12-04
6995,4629,32932,2010-01-09,Low,49,29884.60,0.05,Regular Air,12748.86,599.99,...,Karen Carlisle,British Columbia,West,Corporate,Technology,Copiers and Fax,Canon Image Class D660 Copier,Large Box,0.44,2010-01-13

In [41]:
#Correlation between Sales, UnitPrice, ProductBaseMargin, Discount, Profit.
df_copy[['SALES','UNITPRICE', 'PRODUCTBASEMARGIN', 'DISCOUNT', 'PROFIT']].corr()

                   SALES  UNITPRICE  PRODUCTBASEMARGIN  DISCOUNT  PROFIT
SALES               1.00       0.60               0.13     -0.02    0.58
UNITPRICE           0.60       1.00               0.05      0.00   -0.01
PRODUCTBASEMARGIN   0.13       0.05               1.00     -0.00   -0.11
DISCOUNT           -0.02       0.00              -0.00      1.00   -0.04
PROFIT              0.58      -0.01              -0.11     -0.04    1.00